<style>

* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  border: 2px solid black;
  background-color: gray;
  width: 90%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color:solid black ;
  position: relative;
}
.row {
  width: 100%;
}
.chick{
 border: 1px solid black ;
  border-right: 2px;
   border-top: 2px;
     padding: 2px;
  background: yellowgreen;
  position: absolute;
   right: 0PX;
    top: 0PX;
    font-size: 130%;
}
.bee{
  border: 1px solid black;
   border-right: 2px;
    border-top: 2px;
       padding: 2px 5px 2px 5px;
  background: maroon;
  color: white;
  position: absolute;
  right: 0PX;
  top: 0PX;
  font-size:130% ;
}
.soch{
  border: 1px solid black ;
   border-right: 2px;
    border-top: 2px;
      padding: 2px 5px 2px 5px;
  background: beige;
  position: absolute;
  right: 0PX;
  top: 0PX;
    font-size:130% ;

}
#content{
    padding: 6px 8px 6px 8px ;
    text-align: left;
    margin-bottom: 1px;
  font-size: 100%;
  position: relative;
    top: 26px;
  float:left ;

}

/********** in the desktop **********/
@media (min-width: 992px) {
  .col-lg-4, .col-lg-6, .col-lg-12 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** in the tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4, .col-md-6,  .col-md-12 {
    float: left;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** in the mobile *********/
@media (max-width: 767px) {
 .col-ms-12 {
    float: left;
    }
  .col-ms-12 {
    width: 100%;
   }
  }
</style>